@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

.contenedorInicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
    width: auto;
}

/* HEADER */
.header {
    grid-area: header;
    background-image: url(../img/fondo-principal-bajo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.portadaLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portadaLogo h1 {
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
}

.logo {
    width: 12.5rem;
    padding-top: 6rem;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #151D1B;
}

.navBar li {
    list-style: none;
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    border-bottom: 3px solid transparent;
}

.navBar li:hover {
    transition: 1s;
    border-bottom: 2px solid #BEA88E;
}

.navBar a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

/* MAIN INICIO */
.main {
    grid-area: main;
    padding: 2.5rem;
}

.acaInicio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nosotrosInicio {
    padding: 1rem;
}

.nosotrosInicio h2 {
    margin-bottom: .5rem;
    font-weight: 600;
}

.nosotrosInicio p {
    text-align: justify;
    font-weight: 400;
}

/* MAIN PRODUCTOS */
.productosPortada {
    background-image: url(../img/pine-wood-low.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15rem;
}

.productosPortada p,
.medidaPortada p,
.portadaGaleria p,
.conocenosPortada p {
    color: #BEA88E;
    font-size: 1rem;
}

.productosPortada h2,
.medidaPortada h2,
.portadaGaleria h2,
.conocenosPortada h2 {
    color: white;
    font-size: 4.5rem;
}

.productosPortada p,
.productosPortada h2,
.medidaPortada p,
.medidaPortada h2,
.portadaGaleria p,
.portadaGaleria h2,
.conocenosPortada p,
.conocenosPortada h2 {
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 8px black;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 6rem 0;
    justify-items: center;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img,
.producto h3,
.producto p {
    margin-bottom: .5rem;
}

.producto h3,
.producto p {
    text-align: left;
    width: 100%;
}

.producto p {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 800;
    background-color: #151D1B;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #BEA88E;
    animation: pulse;
    animation-duration: 2s;
    box-shadow: #151D1B 1px 1px 1px;
}

.medidaPortada {
    background-image: url(../img/measuring.jpg);
    background-size: cover;
    /* height: 25rem; */
    height: 100%;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* GALERIA */
.portadaGaleria {
    background-image: url(../img/portada-galeria.jpg);
    background-size: cover;
    background-position: 15%;
    height: 100%;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 4rem;
    gap: .5rem;
}

.imagenGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(.5) opacity(.8);
    cursor: pointer;
    transition: all 200ms ease-in;
    border-radius: .5rem;
}

.imagenGaleria:hover {
    filter: grayscale(0) opacity(1);
}

.imagen1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.imagen2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.imagen3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.imagen4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: -7;
    grid-row-end: -5;
}

.imagen5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.imagen6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.imagen7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.imagen8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}

.imagen9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.imagen10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}

.imagen11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.imagen12 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
}

/* ACERCA DE */
.conocenosPortada {
    background-image: url(../img/SN_CIUDAD_blow.jpg);
    background-size: cover;
    background-position: 15%;
    height: 100%;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conocenosHistoria {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-evenly;
}

.añoHistoria {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
}

.añoHistoria h3 {
    padding-bottom: 1rem;
}

.añoHistoria p {
    text-align: justify;
}

/* CONTACTO */
.contenedorGeneral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
}

.formulario,
.contacto {
    padding: 1rem;
}

.form {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.form input[type=text],
.form input[type=email],
form textarea {
    padding-bottom: .5rem;
    outline: none;
    border-bottom: solid 2px #ccc;
    font-size: medium;
    margin-bottom: 2rem;
}

.form input[type=text],
.form input[type=email] {
    width: 50%;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
form textarea:focus {
    transition: 2s;
    border-bottom: solid 2px #151D1B;
}

.apellido,
.motivo {
    margin-left: 1rem;
}

.form textarea {
    resize: none;
    width: 100%;
}

.contacto {
    align-self: flex-start;
    justify-self: center;
}

/* FOOTER */
.footer {
    grid-area: footer;
    background-color: #151D1B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.mapa {
    padding: 2rem;
    align-self: center;
    justify-self: center;
}

.redes {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.redesContacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.redesContacto p {
    color: white;
    font-size: 1.4rem;
    padding-bottom: .5rem;
}

.redesContacto i {
    font-size: 1.5rem;
    padding-right: .5rem;
    color: #BEA88E;
}

.redesContacto a {
    text-decoration: none;
    text-align: center;
    padding-bottom: .5rem;
    /* color: white; */
    color: #DCDCDC;
}

.redesContacto a:hover {
    color: white;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Responsive - Media query */

@media (max-width: 1240px) {

    /* Inicio */
    .acaInicio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenPrincipal {
        width: 100%;
    }

    /* Productos */
    .productos {
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 10rem;
    }

    .productosPortada p,
    .medidaPortada p,
    .portadaGaleria p,
    .conocenosPortada p {
        font-size: 1rem;
    }

    .productosPortada h2,
    .medidaPortada h2,
    .portadaGaleria h2,
    .conocenosPortada h2 {
        font-size: 4.5rem;
    }

    /* galeria */
    .galeria {
        padding: 1rem;
    }

}

@media (max-width: 1050px) {

    /* header */
    .header {
        background-position: 50%;
    }

    /* inicio */
    .imagenPrincipal {
        width: 100%;
    }

    .acaInicio {
        flex-direction: column;

    }

    .main {
        padding: 0;
    }

    /* footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .mapa {
        padding: 2rem 0;
    }

    .redesContacto {
        justify-self: center;
    }

    /* productos, galeria, acerca de */
    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 7rem;
    }

    /* contacto */
    .contenedorGeneral {
        grid-template-columns: 1fr;
        padding: 2rem;
    }
}

@media (max-width: 780px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    /* Acerca de */
    .conocenosHistoria {
        align-items: center;
    }

    .conocenosHistoria img {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 700px) {

    /* footer */
    .mapa iframe {
        width: 100%;
    }

    .mapa {
        width: 100%;
        padding: 2rem 0;
    }
}

@media (max-width: 600px) {

    /* footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .redesContacto {
        justify-self: center;
    }

    .redesContacto {
        padding: .5rem;
    }

    /* header */
    .header {
        background-position: 50%;
    }

    .navBar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* inicio */
    .contenedorInicio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "main"
            "footer";
    }

    .acaInicio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main {
        padding: 0;
    }

    .nosotrosInicio p {
        padding: 0.5rem;
    }

    .nosotrosInicio p {
        font-size: 1.5rem;
    }

    .acaInicio h2 {
        font-size: 2rem;
    }

    /* contacto */
    .contenedorGeneral {
        padding: 1rem .5rem;
    }

    /* productos, galeria, acerca de */
    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 2rem 0;
    }

}