/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
/* Maitre & Maven pro & open sans*/
@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Maven+Pro&family=Open+Sans&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    /* font-family: 'Raleway', sans-serif; */
}

.contenedorInicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
    width: auto;
}

/* HEADER */
.header {
    grid-area: header;
    background-image: url(../img/fondo-principal-bajo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.portadaLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portadaLogo h1 {
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'Maitree', serif;
    font-style: italic;
}

.logo {
    width: 12.5rem;
    padding-top: 6rem;
}

/* Bootstrap navbar */
.navbar {
    background-color: #151D1B !important;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.nav-link:hover {
    color: #FFF;
}

/* Animacion link hover */
.nav-link:before,
.nav-link:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #BEA88E;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.nav-link:before {
    top: 0px;
    transform: translateY(10px);
}

.nav-link:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.nav-link:hover:before,
.nav-link:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* MAIN INICIO */
.main {
    grid-area: main;
    padding: 1rem;
}

.acaInicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nosotrosInicio {
    padding: 0 1rem;
    width: 40%;
}

.nosotrosInicio h3 {
    margin-bottom: .5rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
}

.nosotrosInicio p {
    text-align: justify;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    font-size: 1rem;
}

/* MAIN PRODUCTOS */
.productosPortada {
    background-image: url(../img/pine-wood-low.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15rem 0;
}

.productosPortada p,
.medidaPortada p,
.portadaGaleria p,
.conocenosPortada p {
    color: #BEA88E;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.productosPortada h2,
.medidaPortada h2,
.portadaGaleria h2,
.conocenosPortada h2 {
    color: white;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.productosPortada p,
.productosPortada h2,
.medidaPortada p,
.medidaPortada h2,
.portadaGaleria p,
.portadaGaleria h2,
.conocenosPortada p,
.conocenosPortada h2 {
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 8px black;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 3rem 0;
    justify-items: center;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img,
.producto h3,
.producto p {
    margin-bottom: .5rem;
}

.producto img {
    border-radius: 1rem;
}

.producto h3,
.producto p {
    text-align: left;
    width: 100%;
}

.producto h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.producto p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.comprar {
    padding: .5rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1rem;
    background-color: #151D1B;
    color: white;
    cursor: pointer;
}

.comprar:hover {
    background-color: #BEA88E;
}

.medidaPortada {
    background-image: url(../img/measuring.jpg);
    background-size: cover;
    height: 100%;
    padding: 15rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* GALERIA */
.portadaGaleria {
    background-image: url(../img/portada-galeria.jpg);
    background-size: cover;
    background-position: 15%;
    height: 100%;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 4rem;
    gap: .5rem;
}

.imagenGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(.5) opacity(.8);
    cursor: pointer;
    transition: all 200ms ease-in;
    border-radius: .5rem;
}

.imagenGaleria:hover {
    filter: grayscale(0) opacity(1);
}

.imagen1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.imagen2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.imagen3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.imagen4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: -7;
    grid-row-end: -5;
}

.imagen5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.imagen6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.imagen7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.imagen8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}

.imagen9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.imagen10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}

.imagen11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.imagen12 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
}

/* ACERCA DE */
.conocenosPortada {
    background-image: url(../img/SN_CIUDAD_blow.jpg);
    background-size: cover;
    background-position: 15%;
    height: 100%;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conocenosHistoria {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-evenly;
}

.añoHistoria {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
}

.añoHistoria h3 {
    padding-bottom: 1rem;
}

.añoHistoria p {
    text-align: justify;
}

/* CONTACTO */
.contenedorGeneral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
}

.seccionFormulario,
.contacto {
    padding: 1rem;
}

.formulario {
    width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.formulario input[type=text],
.formulario input[type=email],
form textarea {
    padding-bottom: .5rem;
    outline: none;
    border-bottom: solid 2px #ccc;
    font-size: medium;
    margin-bottom: 2rem;
}

.formulario input[type=text],
.formulario input[type=email] {
    width: 50%;
}

.formulario input[type=text]:focus,
.formulario input[type=email]:focus,
form textarea:focus {
    transition: 2s;
    border-bottom: solid 2px #151D1B;
}

.apellido,
.motivo {
    margin-left: 1rem;
}

.formulario textarea {
    resize: none;
    width: 100%;
}

.contacto {
    align-self: flex-start;
    justify-self: center;
}

/* FOOTER */
.footer {
    grid-area: footer;
    background-color: #151D1B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.mapa {
    padding: 1rem 0;
    align-self: center;
    justify-self: center;
}

.redes {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.redesContacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.redesContacto p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;

}

.redesContacto i {
    font-size: 1.5rem;
    padding-right: .5rem;
    color: #BEA88E;
}

.redesContacto a {
    text-decoration: none;
    text-align: center;
    padding-bottom: .5rem;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
}

.redesContacto a:hover {
    color: white;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Responsive - Media query */
@media (max-width: 1361px) {

    /* Inicio */
    .acaInicio {
        flex-direction: column;
        align-items: center;
    }

    .imagenPrincipal {
        width: 100%;
    }

    .nosotrosInicio {
        padding: 1rem 0;
        width: 100%;
    }

    .main {
        padding: 1rem;
    }

}

@media (max-width: 1240px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 10rem 0;
    }

    .productosPortada p,
    .medidaPortada p,
    .portadaGaleria p,
    .conocenosPortada p {
        font-size: 1rem;
    }

    .productosPortada h2,
    .medidaPortada h2,
    .portadaGaleria h2,
    .conocenosPortada h2 {
        font-size: 3.5rem;
    }

    /* galeria */
    .galeria {
        padding: 1rem;
    }

}

@media (max-width: 1050px) {

    /* header */
    .header {
        background-position: 50%;
    }

    /* inicio */
    .acaInicio {
        flex-direction: column;
    }

    .nosotrosInicio {
        padding: 0;
    }

    .nosotrosInicio p {
        margin-bottom: 1rem;
    }

    /* footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .mapa {
        padding: 1rem 0;
    }

    .redesContacto {
        justify-self: center;
    }

    /* productos, galeria, acerca de */
    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 7rem 0;
    }

    /* contacto */
    .contenedorGeneral {
        grid-template-columns: 1fr;
        padding: 2rem;
    }
}

@media (max-width: 780px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    /* Acerca de */
    .conocenosHistoria {
        align-items: center;
    }

    .conocenosHistoria img {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 700px) {

    /* footer */
    .mapa iframe {
        width: 100%;
    }

    .mapa {
        width: 100%;
        padding: 1rem .5rem;
    }
}

@media (max-width: 600px) {

    /* footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .redesContacto {
        justify-self: center;
    }

    .redesContacto {
        padding: .5rem;
    }

    /* header */
    .header {
        background-position: 50%;
    }

    /* inicio */
    .contenedorInicio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "main"
            "footer";
    }

    .main {
        padding: .5rem 1rem;
    }

    .acaInicio h3 {
        text-align: center;
    }

    /* contacto */
    .contenedorGeneral {
        padding: 1rem .5rem;
    }

    /* productos, galeria, acerca de */
    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 2rem 0;
    }

    /* productos */
    .productosPortada p,
    .medidaPortada p,
    .portadaGaleria p,
    .conocenosPortada p {
        font-size: .7rem;
    }

    .productosPortada h2,
    .medidaPortada h2,
    .portadaGaleria h2,
    .conocenosPortada h2 {
        font-size: 3rem;
    }

}